env {
  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_DISABLE_CACHE = "True"

  CMD_OUTRIDER_FRASER = "apptainer exec ${projectDir}/containers/rna_outliers_hg19hg38.sif"
  CMD_MAE = "apptainer exec ${projectDir}/containers/mae.sif"
  CMD_REPORT= "apptainer exec ${projectDir}/containers/report.sif"
}

process {
    executor="slurm"
    errorStrategy = 'ignore'
    containerOptions = "--bind ${projectDir}"
}
params {
    genomeBuild = "hg38"
    mode = "counts"
    RbundelBioconductor = "R-bundle-Bioconductor/3.20-foss-2024a-R-4.4.2"
    featurecounts {
        genes_gtf="/apps/data/gencode/human/release49/gencode.v49.basic.annotation.gtf"
    }
    extcounts {
        folder="/groups/umcg-atd/tmp07/umcg-kdelange/GTEx/Skin_-_Sun_Exposed_Lower_leg--GRCh38--gencode29/"
        amount_outrider=300
        amount_fraser=300
    }
    samplesheet="/groups/umcg-atd/tmp07/TAPfiles/samplesheets/skin_samplesheet.tsv"
    fastafolder="/apps/data/Ensembl/GrCh38.115/pub/release-115/fasta/homo_sapiens/"
    fasta="homo_sapiens/GRCh38_full_analysis_set_plus_decoy_hla.fa" 
    output="/groups/umcg-atd/tmp07/TAPfiles/output/skin_test_22092026/"
    
    fraser {
        frasercountsR="${projectDir}/fraser/frasercounts.R"
        mergescriptR="${projectDir}/fraser/merge_counts.R"
        fraserR="${projectDir}/fraser/fraser.R"
    }
    outrider {
        outridercountsR="${projectDir}/outrider/featurecounts.R"
        mergecountsR="${projectDir}/outrider/mergecounts.R"
        outriderDatasetR="${projectDir}/outrider/create_outrider_dataset.R"
        outriderOptimR="${projectDir}/outrider/outrider_optim.R"
        mergeQFiles="${projectDir}/outrider/merge_qfiles.R"
        outriderR="${projectDir}/outrider/outrider.R"
    }
    mae {
        resultsR="${projectDir}/MAE/get_MAE_results.R"
        annotateGeneR="${projectDir}/MAE/get_gene_annotations.R"
    }
    report {
        htmlTemplate="${projectDir}/html_report/template.html" 
        embedScript="${projectDir}/html_report/embed_data.py"
    }
    
}
workDir="${params.output}/work"
